$color-dark-gray: #333;
$color-white: #eee;
$nav-bar-width: 232px;
$main-color: rgb(20, 20, 20);
::-webkit-scrollbar {
  width: 10px;
}

//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #f1f1f1;
//   }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 91, 91);
}

// Grid Containers
$container: 100% !default;
$container-m: 720px !default;
$container-l: 960px !default;
$container-xl: 1530px !default;

$breakpoint-m: ($container-m + 20) !default;
$breakpoint-l: ($container-l + 20) !default;
$breakpoint-xl: ($container-xl + 20) !default;
$breakpoint-s: (0) !default;

@mixin breakpoint($bp) {
  @if $bp == xl {
    @media only screen and (min-width: $breakpoint-xl) {
      @content;
    }
  } @else if $bp == l {
    @media only screen and (min-width: $breakpoint-l) {
      @content;
    }
  } @else if $bp == m {
    @media only screen and (min-width: $breakpoint-m) {
      @content;
    }
  } @else if $bp == s {
    @media only screen and (min-width: $breakpoint-s) {
      @content;
    }
  }
}

// ================== STACKOVERFLOW ========================
// I had this same error. To fix this, I had to navigate to
// node_modules/resolve-url-loader
// open
// index.js
// and under var options change removeCR from "false" to "true".
// =======================================================
